.signup-button {
    width: 100%;
}

  .signup-form {
    background-color: #fff;
    border-radius: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 15px;
    width: 400px;
    border-radius: 24px;
    background-color: #ffff
  }
  
  .signup-input {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 13px;
    height: 25px;
    font-size: 16px;
    padding: 8px;
    width: 95%;
  }
  
  .signup-form button {
    background-color: #e60023;
    border: none;
    border-radius: 24px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    height: 50px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .signup-form button:hover {
    background-color: #c4001b;
  }

#modal-content {
    border-radius: 24px;
}

label.signup-email, label.signup-username, label.signup-password, label.signup-confirm-password {
    font-family: helvetica neue;
    font-weight: 150;
    width: 100%;
    display: flex;
    justify-content: center;
}

.signup-errors {
    list-style-type: none;
    font-size: 14px;
    font-weight: bold;
    color: red;
    padding-left: 10px;
  }

.signup-errors li {
    margin-bottom: 5px;
    font-family: helvetica neue;
    text-align: center;
    
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #aaa;
    cursor: pointer;
    background: transparent;
    border: none;
  }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.login-signup {
    font-family: helvetica neue;
    font-size: 14px;
    font-weight: 150;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
}




