.single-comment-container {
    display: flex;
    align-items: center;
}

.commenter-username {
    margin-left: 5px;
    font-weight: 700;
    font-family: Helvetica neue;
}

.comment-description {
    font-family: Helvetica neue;
}

.comment-options {
    margin-bottom: 20px;
}

.comment-delete-container {
    height: 50px;
    width: 65px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-delete {
    font-family: Helvetica neue;
    font-size: 14px;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}