.search-bar-background {
    position: relative;
  }
  
  .magnifying-glass {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }

  #search-input {
    padding-left: 50px;
    height: 50px;
    width: 100%
  }

  .search-errors {
    margin-top: 500px;
  }