.board {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 16px;
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); */
    overflow: hidden;
    margin-left: 30px;
    cursor: pointer;
  }

  .board-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;
    overflow: hidden;
    border-radius: 16px;
  }
  
  .board-grid-item:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    object-fit: cover;
    background-color: rgb(224, 223, 223)
  }
  
  .board-grid-item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    object-fit: cover;
    height: 140px;
    background-color: rgb(224, 223, 223)
  }
  
  .board-grid-item:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 140px;
    object-fit: cover;
    background-color: rgb(224, 223, 223)
  } 

.board-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  
  .board-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: Helvetica neue;
    font-weight: 500;
    margin-left: 20px;
  }

  .board-container {
  width: 25%;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  float: left;
}

.board-container img {
  width: 100%;
  height: 100%;
  display: block;
}

  