.board-show-header {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Helvetica neue;
    
}

.board-show-header h2 {
    font-size: 30px;
}

.board-show-header h4 {
    font-size: 18px;
    
}

.board-description {
    width: 700px;
    text-align: center;
}

.edit-board-title {
    display: flex;
}

.edit-board-options {
    border: none;
    margin-left: 10px;
    background-color: light rgb(212, 212, 212);
    border-radius: 50%;
    height: 35px;
    margin-top: 25px;
    cursor: pointer;
}

.edit-board {
    margin-top: 2px;
}


.board__pins {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1300px) {
    .board__pins {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media screen and (max-width: 1200px) {
    .board__pins {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (max-width: 800px) {
    .board__pins {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 500px) {
    .board__pins {
      grid-template-columns: 1fr;
    }
  }