.boards-container {
    margin-top: 500px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.edit-board-link {
    position: absolute;
    list-style: none;
    margin-top: 70px;
    margin-left: 45px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: white;
}

.boards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px;
    margin: 0 auto;
  }

  .no-boards-message {
    font-size: 30px;
    color: rgb(62, 62, 62);
    text-align: center;
    /* padding: 20px; */
    font-family: Helvetica neue;
    font-weight: 800;
    /* margin-bottom: 800px; */
    margin-top: 50px;
  }

  @media screen and (max-width: 1200px) {
    .boards-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 800px) {
    .boards-grid {
      grid-template-columns: 1fr;
    }
  }

  @media screen and (min-width: 2000px) {
    .boards-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media screen and (min-width: 2400px) {
    .boards-grid {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  .no-saved-pins-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 800px;
  }
  
 