.pins { 
    /* columns: 5; */
    /* column-gap: 2px; */
    padding: 20px;
    width: 90%;
    margin: 0 auto;
   
}

.pin-image img {
    grid-row: 1 / -1;
    grid-column: 1;
}


@media (min-width: 756px){
    .pins{
        column-count: 3;
        column-gap: 10px;
    }
}

@media (min-width: 1008px) {
    .pins{
        column-count: 4;
        column-gap: 10px;
    }
}

@media (min-width: 1260px) {
    .pins{
        column-count: 5;
        column-gap: 10px;
    }
}

@media (min-width: 1512px) {
    .pins{
        column-count: 6;
        column-gap: 10px;
    }
}

@media (min-width: 1764px) {
    .pins{
        column-count: 7;
        column-gap: 10px;
    }
}

