.user-pins {
    margin-top: 510px; 
    
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-auto-rows: 0; */
    /*padding: 450px;
    width: 90%;
    margin: 0 auto; 
    margin: 0;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);  */
}

.no-pins-message {
  font-size: 30px;
    color: rgb(62, 62, 62);
    text-align: center;
    padding: 20px;
    font-family: Helvetica neue;
    font-weight: 800;
    
}

.no-pins-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust the height as needed */
  margin-top: 400px
}

/* .no-pins-message p {
  font-size: 18px;
  text-align: center;
} */


@media screen and (max-width: 1300px) {
    .user-pins {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media screen and (max-width: 1050px) {
    .user-pins {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (max-width: 800px) {
    .user-pins {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 500px) {
    .user-pins {
      grid-template-columns: 1fr;
    }
  }

