.edit-user-form {
    margin-top: 150px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    width: 1000px;
    overflow: hidden;
    left: 50%;
    transform: translateX(25%);
}

.preview-container {
    /* width: 250px; */
    height: 150px;
    overflow: hidden;
}

.edit-user-form div {
    margin: 1rem;
  }

.edit-user-form input[type="text"],
.edit-user-form input[type="password"] {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #f2f2f2;
  font-size: 1rem;
  width: 95%;
  margin-top: 0.5rem;
  margin-left: 10px;
}


.edit-profile-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica neue;
    font-size: 20px;
}

.edit-profile-header {
    font-weight: 500;
    margin-bottom: 0px;
}

.save-edit-profile-button {
    font-family: Helvetica neue;
    background-color: #e60023;
    border: none;
    border-radius: 16px;
    color: #fff;
    width: 95%;
    height: 40px;
    transform: translateX(2.5%);
    margin-bottom: 10px;
    cursor: pointer;
}
  
.edit-errors-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Helvetica neue;
    font-size: 14px; 
}

.edit-errors {
    list-style-type: none;
    font-size: 14px;
    color: #bd081c;
}
  
