

.splash-photo-0 {
    position: absolute;
    top: 350px;
    right: 1300px;
    
}
 

.splash-photo-2 {
    position: absolute;
    top: 660px;
    right: 1300px;
}

.splash-photo-8 {
    position: absolute;
    top: 440px;
    right: 1070px;

}

.splash-photo-10 {
    position: absolute;
    top: 750px;
    right: 1070px;
} 

.splash-photo-6 {
    position: absolute;
    top: 550px;
    right: 840px;
}
.splash-photo-9 {
    position: absolute;
    top: 860px;
    right: 840px;
}

.splash-photo-1 {
    position: absolute;
    top: 650px;
    right: 610px;
}

.splash-photo-12 { 
    position: absolute;
    top: 550px;
    right: 380px;
} 

.splash-photo-5 {
    position: absolute;
    top: 860px;
    right: 380px;
}


.splash-photo-14 {
    position: absolute;
    top: 440px;
    right: 150px;
}

.splash-photo-4 {
    position: absolute;
    top: 750px;
    right: 150px;
} 

.splash-photo-15 {
    position: absolute;
    top: 350px;
    right: -80px;
}

.splash-photo-13 {
    position: absolute;
    top: 660px;
    right: -80px;
} 

.splash-individual-photo {
    height: 350px;
    width: 300px;
}

.splash-photo-generic {
    width: 225px;
    height: 300px;
    border-radius: 24px;
}