.pins { 
    columns: 5;
    /* grid-gap: 5px;  */
    /* padding: 70px; */
    padding-top: 70px;
    /* width: 1500px; */
    margin: 0 auto; 
    margin: 0;
    padding-left: 0px;
    /* padding: 0; */
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
} 


.pin-image img {
    grid-row: 1 / -1;
    grid-column: 1;
}

@media (min-width: 260px) {
    .pins{
        column-count: 1;
        column-gap: 10px;
    }
}


@media (min-width: 520px){
    .pins{
        column-count: 2;
        column-gap: 10px;
    }
}

@media (min-width: 780px) {
    .pins{
        column-count: 3;
        column-gap: 5px;
    }
}

@media (min-width: 1040px) {
    .pins{
        column-count: 4;
        column-gap: 5px;
    }
}

@media (min-width: 1300px) {
    .pins{
        column-count: 5;
        column-gap: 5px;
        width: 1200px;
    }
}

@media (min-width: 1560px) {
    .pins{
        column-count: 6;
        column-gap: 5px;
        width: 1460px
    }
}

@media(min-width: 1650px) {
    .pins{
        column-count: 7;
        column-gap: 10px;
        width: 1720px;
    }
}

@media(min-width: 1780px) {
    .pins{
        column-count: 8;
        column-gap: 10px;
        width: 1980px;
    }
}

