 .pin {
  /* display: inline-block; */
  margin: 5px 10px 5px 10px;
  width: 230px;
  overflow: hidden;
  padding: 10px;
  /* position: relative; */
  /* line-height: 0;
  vertical-align: top; */
}

.pin:hover {
  cursor: pointer;
}

.pin img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 0;
  border-radius: 15px;
  line-height: 0;
  vertical-align: top;
}

.pin-image {
  position: relative;
}

.pin-image:hover {
  cursor: pointer;
}

.pin-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 30%; */
  background-color: transparent;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  border-radius: 16px;
}

.pin:hover .pin-hover {
  opacity: 1;
}



.save-button {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-top: 10px;
  background-color: #E60023;;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 24px;
  font-size: 16px;
  cursor: pointer;
}

.pin-title {
  font-family: Helvetica neue;
  font-weight: 500;
  font-size: 13px;
  width: 220px;
  margin-bottom: 10px;
  /* margin-top: 10px;
  margin-left: 20px; */
}

.pin-view-dropdown {
    font-size: 16px;
    font-family: Helvetica neue;
    background-color: transparent;
    color: white;
    font-weight: 700;
    border: none;
    margin-right: 7px;
    text-shadow: 0px 0px 2px black;
}




