.splash-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 300vh;
}


.splash-text{
  /* height: calc(30vh + 140px);
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin: 0; */
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  margin: auto;
  height: 28%;
  position: absolute;
  padding-top: 170px;
  left: 0;
  right: 0;
}

.splash-header{
  color: rgb(33, 25, 34);
  margin: 2px;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  font-family: Helvetica neue;
}

.splash-idea-text{
  height: 60px;
  width: 65%;
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  
}

.ideas-text{
  font-size: 60px;
  font-weight: 600;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0px;
  color: rgb(194, 139, 0);
  margin: 0px;
  transform: translateY(-40px);
  z-index: 0;
}
.splash-individual-photo>img{
  object-fit: cover;
}
.splash-container section {
  scroll-snap-align: start;
}

.splash-page-container{
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 100px;
  overflow: hidden;
  position: relative;
  height: 90vh;
  z-index: 0;
}

.splash-image-container{
  position: absolute;
  height: 100%;
  width: 100%;
  /* left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  position: absolute;
  overflow:hidden */
}





.one-and-half-page {
  height: 100vh;
  width: 100%;
  top: 100vh;
  background: rgb(200, 247, 246);
  z-index: 60;
  display: flex;
  flex-direction: row;
}

.one-and-half-text-container {
  width: 50%;
  height: 100%;
}

.one-and-half-picture-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
 
}
.one-and-half-picture-box{

  width: 537px;
  transition: transform 85ms ease-out;
  height: 611px;
  position: relative;
  
     
}

.img-container-1{
  top: -50px;
  right: 75px;
  width: 225px;
  box-sizing: border-box;
 
  position: relative;
  display: block;
 
}

.sunset-1{
  width: 225px;
  height: 235px;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  max-width: none;
  object-fit: cover;
  max-width: none;
  max-height: none;
}


.img-container-2 {
  top: 225px;
  box-sizing: border-box;
  position: absolute;
  display: block;

}

.sunset-2 {
  width: 165px;
  height: 173px;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  max-width: none;
  object-fit: cover;
  max-width: none;
  max-height: none;
}

.img-container-3 {
  top: 400px;
  right: 70px;
  box-sizing: border-box;
  position: absolute;
  display: block;

}

.sunset-3 {
  width: 225px;
  height: 235px;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  max-width: none;
  object-fit: cover;
  max-width: none;
  max-height: none;
}

.img-container-4 {
  top: -50px;
  right: -100px;
  box-sizing: border-box;
  position: absolute;
  display: block;
}

.sunset-4 {
  width: 400px;
  height: 420px;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  max-width: none;
  max-height: none;
  
}

.img-container-5 {
  top: 430px;
  left: -30px;
  box-sizing: border-box;
  position: absolute;
  display: block;
  z-index: 20
}

.sunset-5 {
    width: 225px;
    height: 235px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    max-width: none;
    object-fit: cover;
    max-width: none;
    max-height: none;
    z-index: 20
  
}

p.text-1 {
  position: absolute;
  color:white;
  font-family: Helvetica neue;
  font-size: 25px;
  top: 50%;
  left: 5%;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p.text-2 {
  position: absolute;
  top: 45%;
  left: 10%;
  color:white;
  font-family: Helvetica neue;
  font-size: 22px;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p.text-3 {
  top: 50%;
  left: 5%;
  position: absolute;
  color:white;
  font-family: Helvetica neue;
  font-size: 25px;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p.text-4 {
  position: absolute;
  top: 50%;
  left: 5%;
  color:white;
  font-family: Helvetica neue;
  font-size: 40px;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p.text-5 {
  position: absolute;
    top: 50%;
    left: 5%;
    color: white;
    font-family: Helvetica neue;
    font-size: 25px;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 30;
}

.one-and-half-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.one-and-half-text-container>h1 {
  font-size: 60px;
  font-weight: bold;
  color: rgb(14 109 120);
  box-sizing: border-box;
  font-family: Helvetica neue;
  width: 600px;
}
.one-and-half-text-container>p{
  max-width: 400px;
  color: rgb(14 109 120);
  font-size: 24px;
  word-spacing: 3px;
  text-align: center;
  margin-top: 16px;
  box-sizing: border-box;
  font-family: Helvetica neue;
}
.second-page{
  height: 100vh;
  width: 100%;
  top: 200vh;
  background-color: white;
  z-index: 24;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


      
.second-page-background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
  z-index: 26;
  /* background-image: url("https://pinspo-seeds.s3.us-west-1.amazonaws.com/pinspo-splashpage-img.png");
  background-repeat: no-repeat;
  background-size: cover; */
}

.second-page-photo-background {
  z-index: 25;
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
}

.discover-pins-box{
  align-items: center;
  display: flex;
  justify-content: center;
  
}

.discover-page-container{
  display: flex;
  margin-left: 16px;
}
.pins-container {
  margin: auto;
  width: 100%;
}


.splash-background-grid {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;

}

.splash-background-grid>div:nth-child(even) {
  
  height: 100vh;
  margin-top: -200px;
  
}

.discover-page-photo{
  width: 236px;
  height: 355px;
  position: relative;
  padding-bottom: 16px;

}

.discover-page-photo >img{
  object-fit: cover;
}

.second-page-text-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  z-index: 27;
  color: white;
  font-size: 70px;
  font-weight: 600;
  padding-left: 200px;
  word-spacing: 5px;
  line-height: 1.3;
}
.second-page-arrow {
  cursor: pointer;
  background: #e60023;
  border-radius: 50%;
  margin: 68px;
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 28;
  
  animation: bouncing-down-arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 600px;
}

.second-page-arrow i {
  right: 15px;
  bottom: 25px;
  color: white;
  position: absolute;
  -webkit-text-stroke: 1px white;
}

@keyframes bouncing-down-arrow {
 0% {
  transform: translateY(0);
  }

  20% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(0);
  }

  40% {
      transform: translateY(-10px);
  }

  60% {
      transform: translateY(-20px);
  }

  80% {
      transform: translateY(0px);
  }

  100% {
      transform: translateY(0);
  } 
}
.splash-signup {
  z-index: 30;
  padding-right: 200px;
}

.sign-up-content{
  background-color: #fff;
  border-radius: 32px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .45);
  box-sizing: border-box;
  font-family: Arial,
  Helvetica,
  sans-serif;
  margin: auto;
  min-height: 0;
  min-height: auto;
  position: relative;
  text-align: center;
  width: 484px;
}

.sign-up-window{
  min-height: 400px;
      padding: 20px 10px 24px;
}

.signup-message {
  font-family: Helvetica neue;
}