.profile-dropdown {
  position: absolute;
}


.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 60px;
  padding: 0 10px;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.left-nav {
  display: flex;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.pinterest-logo {
  height: 40px;
  margin-right: 5px;
}

.logo-name {
  font-size: 24px;
  font-weight: bold;
}

.logo-header {
  font-size: 25px;
  align-items: center;
  color: #E60023;
  margin-top: 25px;
  font-family: Helvetica neue;
  font-weight: 450;

}


.right-nav {
  display: flex;
  justify-content: space-between;
   align-items: center;
}

.right-nav > * + * {
  margin-left: 10px;
}

.github-icon,
.linkin-icon {
  margin-right: 10px;
}

#github,
#linkedIn {
  font-size: 35px;
  color: #333;
  transition: all 0.3s ease;
  padding-top: 5px;
}

#github:hover,
#linkedIn:hover {
  color: #E60023;
}

.login-button {
  background-color: #E60023;
  border: none;
  border-radius: 24px;
  height: 40px;
  width: 100%;
  cursor: pointer;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 20px;
  text-transform: uppercase;
}


.signup-button {
  background-color: #fff;
  border: 1px solid #E60023;
  border-radius: 24px;
  height: 40px;
  width: 180px;
  cursor: pointer;
  color: #E60023;
  font-size: 12 px;
  font-weight: bold;
  padding: 2px 20px;
  text-transform: uppercase;
}

 #search-input {
  background-color: #efefef;
  border: none;
  border-radius: 24px;
  height: 30px;;
  width: 100%;
  cursor: text;
  color: #333;
  font-size: 14px;
  font-weight: bold;
 

  padding: 10px 20px;
}

.searchbar-container {
  position: relative;
  padding: 20px;
  margin-top: 30px;
  width: 750px;
  height: 50px;
}


.home-button-container, .create-button-container {
   margin-top: 15px;
   margin-left: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 40px;
   border-radius: 8px;
}

.home-button, .create-button {
  border: none;
  background-color: transparent;
  font-size: 1.1rem;
  font-weight: 450;
  cursor: pointer;
  font-family: Helvetica neue;
  transition: all 0.2s ease-in-out;
}


.create-button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #000;
  border-radius: 16px;
  padding: 15px 15px;
  border-radius: 30px;
} 

.home-button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #000;
  border-radius: 30px;
  padding: 15px 15px;
}

.create-new-pin {
  list-style: none;
  position: fixed;
  top: 80px;
  left: 270px;
  border: 1px solid rgb(208, 204, 204);
  height: 40px;
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  border-radius: 12px;
}

.create-new-pin:hover {
  background-color: rgb(224, 224, 224);
  cursor: pointer;
  
}

.create-new-pin-button {
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-family: Helvetica neue;
  cursor: pointer;
  font-size: 14px;
}

