.profile-dropdown-icon {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    margin-top: 15px;
    font-size: 20px;
    color: #323031; /* set red color for icon */
    cursor: pointer;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    border-radius: 50%;
  }

  .profile-dropdown-icon:hover {
    background-color: rgb(224, 223, 223);
  }

  .profile-dropdown {
    position: absolute;
    top: 80px;
    right: 5px;
    height: 60px;
    background-color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    font-family: Helvetica neue;
    font-size: 14px;
    z-index: 1;
    width: 230px;
    height: 160px;
  }

  .profile-dropdown  li {
    padding-top: 5px;
    margin-left: 10px;
    padding-bottom: 5px;
    height: 20px;
    /* width: 30px; */
  }

  .user-icon-nav {
    font-family: Helvetica neue;
    margin-bottom: 5px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .user-icon-container {
    padding-top: 5px;
    border-radius: 50%;
    background-color: rgb(223, 222, 222);
    width: 40px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-link {
    text-decoration: none;
  }

  .profile-link:hover, .profile-link:active {
    color: rgb(46, 46, 46); /* set the link color on hover and active */
  }
  
  .profile-link:visited {
    color: rgb(46, 46, 46); /* set the link color after it's been visited */
  }

  .logout-button {
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
  }

  .user-icon-container-dropdown {
    padding-top: 5px;
    border-radius: 50%;
    background-color: rgb(223, 222, 222);
    width: 20px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carrot-dropdown {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: rgb(223, 222, 222); */
    width: 90%;
    margin-left: 10px;
    border-radius: 12px;

  }

  .carrot-dropdown:hover {
    background-color: rgb(223, 222, 222);
  }

  .carrot-info {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    height: 60px;
    
  }

  .user-icon-nav-dropdown {
    border: none;
    background-color: transparent;
    margin-top: 15px;
    font-weight: 400;
    font-size: 22px;
    cursor: pointer;
  }

  .currently-in {
    font-size: 12px;
    opacity: 0.5;
    margin-top: 2px;
  }

  p.currently-in {
    margin-bottom: 5px;
  }

  .logout-button {
    padding-top: 5px;
    font-weight: 550;
    cursor: pointer;
  }

  .logout-button-container {
    /* padding-top: 10px; */
    padding-bottom: 3px;
  }

  .logout-button-container:hover {
    background-color: rgb(223, 222, 222);
    border-radius: 12px;
    width: 95%;
    /* padding-top: 10px; */
    height: 25px;
  }

  .username-top {
    padding-top: 5px;
  }

  .image-wrapper-nav {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
  }

  /* .image-wrapper-nav:hover {
    border: solid black;
    border-width: 2px;
  } */
  
  .nav-profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  