.profile-dropdown-icon {
    background-color: transparent;
    border: none;
    margin-top: 15px;
    font-size: 20px;
    color: #323031; /* set red color for icon */
    cursor: pointer;
  }

  .profile-dropdown {
    position: absolute;
    top: 80px;
    right: 5px;
    height: 60px;
    background-color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    font-family: Helvetica neue;
    font-size: 14px;
    z-index: 1;
    width: 230px;
    height: 130px;
  }

  .profile-dropdown  li {
    margin-left: 10px;
    padding-bottom: 5px;
  }

  .user-icon-nav {
    font-family: Helvetica neue;
    margin-bottom: 5px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .user-icon-container {
    padding-top: 5px;
    border-radius: 50%;
    background-color: rgb(223, 222, 222);
    width: 40px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-link {
    text-decoration: none;
  }

  .profile-link:hover, .profile-link:active {
    color: rgb(46, 46, 46); /* set the link color on hover and active */
  }
  
  .profile-link:visited {
    color: rgb(46, 46, 46); /* set the link color after it's been visited */
  }

  .logout-button {
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
  }

  .user-icon-container-dropdown {
    padding-top: 5px;
    border-radius: 50%;
    background-color: rgb(223, 222, 222);
    width: 20px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carrot-dropdown {
    display: flex;
    background-color: rgb(223, 222, 222);
    width: 90%;
    margin-left: 10px;
    border-radius: 12px;

  }

  .carrot-info {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    height: 60px;
    
  }

  .user-icon-nav-dropdown {
    border: none;
    background-color: transparent;
    margin-top: 15px;
    font-weight: 400;
    font-size: 22px;
    cursor: pointer;
  }

  .currently-in {
    font-size: 12px;
    opacity: 0.5;
  }

  .logout-button {
    margin-top: 10px;
    margin-left: 70px;
    font-weight: 550;
    cursor: pointer;
  }

  .username-top {
    padding-top: 5px;
  }